SPRING_PROFILES_ACTIVE=local
DB_URL=jdbc:mysql://localhost:3306/nook?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
DB_USERNAME=nook
DB_PASSWORD=nook
JVM_OPTS=-XX:MaxRAMPercentage=75.0
BRIGHT_DATA_API_TOKEN=replace-with-bright-data-api-token
BRIGHT_DATA_POSTS_DATASET_ID=gd_lk5ns7kz21pck8jpis
BRIGHT_DATA_REELS_DATASET_ID=gd_lyclm20il4r5helnj
